.marketyardTitle h2{
    text-align: center;
}
.para1{
    margin-left: 30px;
}
.para2{
    margin-left: 30px;
}
.marketYard .twobutton{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.twobutton button{
    margin-left: 15px;
    padding: 10px;
}
.marketyardImage{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.marketyardImage img{
    height: 200px;
}
.marketyardTitle h3{
    text-align: center;
}
/*.marketyardPara{*/
/*    text-align: center;*/
/*    */
/*}*/
.marketyardPara p{

    text-align: center;
    justify-content: center;
}