.marketyardImage{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.marketyardImage img{
    height: 200px;
}
.marketyardTitle h3{
    text-align: center;
}

.marketyardPara p{
    text-align: center;
    justify-content: center;
}