
.containerAbout h1{
    height: 100px;
    margin-left: 50px;
    color: rgb(92, 69, 27);
}

.containerAbout .para{
    width: 60%;
    color: rgb(22, 16, 2);
    margin-left: 20%;
    margin-top: 20px;
    text-align: center;
    align-items: center;
}

.containerAbout .maincard{
    display: grid;
    grid-template-rows:auto auto ;
}

 .card .title{
    font-size: 20px;
     color: azure;
     margin-left: 150px;
}

.card img{
    height: 300px;
    width: 500px;

}
.twocard1{
    display: grid;
    grid-template-columns:auto auto;
    grid-gap: 10px;
    margin-top: 50px;
}

.twocard2{
    display: grid;
    grid-template-columns:auto auto;
    grid-gap: 10px;
    margin-top: 50px;
}