
.caption-img{
    position:relative;
    height:340px;
    width:1349px;
    background-image: url("https://static.wixstatic.com/media/41d000_dc7a407061c441dca1a8093d81df02ac.jpg/v1/fill/w_1920,h_340,al_c,q_85,usm_0.66_1.00_0.01/41d000_dc7a407061c441dca1a8093d81df02ac.jpg");
    background-size: cover;
}
.caption{
    position:absolute;
    height:340px;
    width:425px;
    background: #8d4c13 ;
    margin-left:300px;
}
.caption > h4{
    position:absolute;
    font-size:1.3em;
    margin-top:220px;
    margin-left:20px;

}
.main {
    position:relative;
    background: white;
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}
.content{
}
.content > h4{
    text-transform:uppercase;
    margin-left:50px;
}
.content > p{
    width:700px;
    margin-left:75px;
    justify-content:center;
    font-size:0.8em;
}
.news h3{
    position:relative;
    background:red;
    padding: 10px 20px;
}
.news {
    position:relative;
    width: 100%;
    margin-right: 200px;
}
.ProductsServicesLogo {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 100px;
}
.line {
    border-bottom: 2px solid #8d4c13;
}
.homeAboutUs{
    margin-left: 50px;
    width: 70%;
}
Button{
    position: relative;
    align-items: center;
    padding: 5px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #54db54;
}
.news h2{
    margin: 0;
}
.news p{
    margin: 0;
    width: 400px;
}
.news img{
    padding: 0;
    margin: 0;
    height: 175px;
}