.container section{
   height: 100%;
   width: 100%;
}
.containerContact{
   display: flex;
   flex-direction: row;
   margin-left: 150px;
}
.containerContact button{
   padding:5px 10px;
   display:block;
   width:120px;
   border:1px solid black;
   background-color: #54db54;
   border-radius: 10px ;
}

.part2 .logo1{
   margin-top: 20px;
   margin-left: 250px;
}
.part2{
   margin-left: -200px;
   margin-top: 50px;
}
.address{
   width: 40%;
   margin-top: 100px;
   margin-left: 250px;
}
.part1{
   border-right: 1px solid black;
   margin-top: 50px;
}
.part1 input{
   width: 90%;
}
